*{
    font-family: 'Poppins';
    
}
.headcont{
    height: 550px;
    background-color: lightgray;
  
    overflow: hidden;
    
}
.header{
    padding-left: 10px;
    display: inline;
    
}
.header a{

    text-decoration: none;
    color: #000;
    padding-right: 20px;
    padding-left: 80px;
    
    margin-top: 10px;
    
}
.eat{
    height: 300px;
    display: flex;
    /*margin: auto;
    width: 100%;*/
   
    margin-left: 100px;
    width: 80%;
   
}
.eat img{ 
    float: left;
}
.exp{
    float: right;
    margin-top: 60px;
    margin-left: 60px;
}
h2{
    color: #EAAB1B;
}
 .intro{
     margin-left: 100px;
     margin-top: 50px;
 } 
#order{
    border-radius: 50px;
    background-color: #6CB840;
    border: none;
    width: 10%;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
#strt{
    color: #6CB840;
}
#food{
    color: #EAAB1B;
}
.ell{
    margin-top: -600px;/*increase -270*/
    height: 500px;
    margin-left: 500px;/*reduce*/
    margin-right: -120px;/*increase*/
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background-color: #649549;
   /* top: -200px;
   position: relative;
    
    right: -20px;
    background-color: #649549;
    height: 400px;
    width: 400px;
    border-radius: 50%; */
       
}
#plate{
    margin-top: -50px;
    margin-left: 890px;
}
.menu-2{
    background-color: #C9ECB5;
    height: 550px;
    width: 80%;
    margin-left: 100px;

}
h4{
    text-align: center;
    
}
#juice{
    margin-top: -190px;
 }
 #burger1{
     margin-top: -350px;
     margin-left: 50px;
     
 }
 .des{
     float: right;
     margin-top: -400px;
     margin-right: 100px;
 }
 .dealcont{
     float: left;
 }
 #combo{
     color: #6CB840;
     font-size: 30px;
     margin-top: -15px;
     font-weight: 600;
 }
 #pizz{
     margin-left: -230px;
     font-size: 20px;
 }
 .menu-3{
    background-color: #FFD77C;
    height: 450px;
    width: 80%;
    margin-left: 100px;
 }
 #email{
     border-radius: 25px;
     padding: 12px 32px;
     width: 90%;
     margin-bottom: 40px;
     margin-left: -40px;
     border: none;
     margin-top: 15px;

 }
 .contct{
     position: absolute;
     left: 35%;
    
 }
 #send{
    border-radius: 50px;
    background-color: #6CB840;
    border: none;
    width: 40%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    font-weight: 700;
 }
 #news{
    background-color: #6CB840;
    border: none;
    width: 7%;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 92%;
   font-weight: 700;
    
 }
 .sbt{
    margin-top: -60px;
    
 }
 .icon{
    margin-top: -70px;
    margin-left: 92%;
 }
 .menu-4{
     background-color: #C9ECB5;
     height: 200px;
     width: 80%;
     margin-left: 100px;

 }
 .separator{
     border-left: 2px dashed;
     width: 1px;
     height: 120px;
     margin-top: -120px;
     margin-left: 200px;
 }
 #f1{
     font-size: 12px;
     margin-top: -20px;
 }
 #f2{
    font-size: 12px;
    margin-top: -20px;

 }
 #f3{
     font-size: 12px;
 }
 
 .day{
     margin-left: 10px;
 }
 #fri{
     margin-top: -10px;
 }
 .address{
     margin-left: 230px;
     margin-top: -130px;

 }
 footer{
     margin-top: -10px;
 }
 .social{
     margin-left: 700px;
     margin-top: -100px;
 }
 #follow{
     font-size: 15px;
 }
 #us{
     color: #6CB840;
 }
.indt{
     text-indent: 70px;
     margin-top: -13px;
 }
 #play{
     color: black;
     font-weight: 570;
 }
 .menu-1{
    height: 450px;
    width: 80%;
    margin-left: 100px;
    background-color:lightgray;

 }
.separa{
    height: 150px;
    width: 300px;
    border-style: dashed;
    border-width: 2px;
    border-bottom: none;
    border-color: black;
     border-top-left-radius: 500px;
     border-top-right-radius: 500px;
     margin-top: -250px;
     margin-right: 180px;
     border-color:  green;
   
}
#waffle{
    margin-top: -60px;
    margin-left: 730px;
}
#kbab{
    margin-top: -200px;
    margin-left: 780px;  
}
#salad{
    margin-top: -160px;
    margin-left: 890px;  

}
#french{
    margin-left: 1000px;
    margin-top: -50px;
}
#cherry{
    margin-left: 1040px;
    margin-top: -7px;
}
